main.main
  section.ordering
    .ordering__body
      h1.ordering__title Оформлення замовлення
      .ordering__row
        form.ordering__form.form-ordering#order-form(action="")
          h2.form-ordering__title.conact-data Ваші контактні дані
          .form-ordering__item
            .form-ordering__col
              label(for="name") Ваше імя
              input#name(type="text" placeholder="Ваше ім'я" name="name" value="")
            .form-ordering__col
              label(for="surname") Ваше прізвище
              input#surname(type="text" placeholder="Ваше прізвище" name="surname" value="")
          .form-ordering__item
            .form-ordering__col
              label(for="phone") Ваш телефон
              input#phone(type="tel" placeholder="Ваш телефон" name="phone" value="")
              //- img.col-eror(src="images/ordering/eror.png")
              //- .form-ordering__error
              //-   img(src="images/ordering/eror.png")
              //-   | 								Невірний формат телефону
            .form-ordering__col
              label(for="e-mail") Ваша пошта
              input#e-mail(type="text" placeholder="Ваш e-mail" name="e-mail" value="")
          h2.form-ordering__title Доставка
          .form-ordering__item
            .form-ordering__new-post
              img(src="images/ordering/new-post.png")
              | 							Нова пошта
            .form-ordering__list
              input#nova(type="text" placeholder="Відділення" name="department" value="")
              img.form-ordering__image(src="images/ordering/arrow.png")
              ul.form-ordering__sublist
                li
                  button(type="button") Відділення 1
                li
                  button(type="button") Відділення 2
                li
                  button(type="button") Відділення 3
          .form-ordering__item
            .form-ordering__ukr-post
              img(src="images/ordering/ukr-post.png")
              | 							Укр пошта
            .form-ordering__list
              input#ukr(type="text" placeholder="Відділення" name="department" value="")
              img.form-ordering__image(src="images/ordering/arrow.png")
              ul.form-ordering__sublist
                li
                  button(type="button") Відділення 1
                li
                  button(type="button") Відділення 2
                li
                  button(type="button") Відділення 3
          h2.form-ordering__title Оплата
          .form-ordering__item.item-radio

            .item-radio__inner
              //- button#payment Передоплата 30%
              input#payment(type="radio" name="payment" value="30")
              label(for="payment") Передоплата 30%
            .item-radio__inner
              //- button#payment Передоплата 100%
              input#payment2(type="radio" name="payment" value="100" checked="")
              label(for="payment2") Передоплата 100%
          #rule
            .item-radio__inner
              input#ruleradio(type="radio" name="ruleradio" value="1")
              label(for="ruleradio") Згоден на обробку персональних даних.
          .submit
            button#submit.cart-ordering__button.btn(type="submit") Підтвердити
        .ordering__cart.cart-ordering
          .cart-ordering__body#basket-pop-pup__item
            
