.ordering-pop-pup
    .ordering-pop-pup__body
        .ordering-pop-pup__logo
            img(src="images/Logo.svg" alt="Logo")
        .ordering-pop-pup__content
            p.ordering-pop-pup__title Дякуємо за замовлення !
            p.ordering-pop-pup__text
            | Ваше замовлення буде оброблено автоматично, у разі необхідності з Вами зв'яжеться оператор
        .ordering-pop-pup__buttons
            a.ordering-pop-pup__link(href="/products") Продовжити покупку
            a.ordering-pop-pup__button.btn(href="/") Повернутись на Головну
