main.main
  section.basket
    .container-big
      h1.basket__title Корзина
      .basket__body.body-basket
        span.basket__tray Кошик
        .body-basket__item
          .body-basket__product-top
            .body-basket__prev
              .body-basket__img
                img(src="images/product-photo.png" alt="лимонна кислота")
            .body-basket__about
              h2.body-basket__title Лимонна кислота
              .body-basket__text
                p
                  | Tellus id feugiat vel aliquet nisi convallis aenean nam bibendum pretium ipsum massa pharetra nisi blandit
                  | libero vulputate quis risus pretium, aliquet nisi
                  | aenean nam bibendum pretium
          .body-basket__product-bottom
            .body-basket__count
              .prod-count
                button.body-basket__btn-minus.btn-minus
                span.body-basket__num.num 2
                button.body-basket__btn-plus.btn-plus
            .body-basket__price
              span 90
              |  грн
          button.item__close(type="button")
            img.close(src="images/basket/dagger.png")
        .body-basket__item
          .body-basket__product-top
            .body-basket__prev
              .body-basket__img
                img(src="images/product-photo.png" alt="лимонна кислота")
            .body-basket__about
              h2.body-basket__title Лимонна кислота
              .body-basket__text
                p
                  | Tellus id feugiat vel aliquet nisi convallis aenean nam bibendum pretium ipsum massa pharetra nisi blandit
                  | libero vulputate quis risus pretium, aliquet nisi
                  | aenean nam bibendum pretium
          .body-basket__product-bottom
            .body-basket__count
              .prod-count
                button.body-basket__btn-minus.btn-minus
                span.body-basket__num.num 2
                button.body-basket__btn-plus.btn-plus
            .body-basket__price
              span 90
              |  грн
          button.item__close(type="button")
            img.close(src="images/basket/dagger.png")
        .basket__footer
          button.basket__button.btn(type="button") Оформити замовлення
          a.basket__link(href="#") Продовжити покупку
