footer.footer
  .container-big
    .footer__body
      a(href='index.html')
        img.footer__logo(src='images/Logo.svg', alt='logo')
      .footer__menu
        ul.footer__list
          li
            a.footer__link(href='/about') &Pcy;&rcy;&ocy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&iukcy;&yucy;
          li
            a.footer__link(href='/products') &Pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&iukcy;&yacy;
          li
            a.footer__link(href='/delivery') &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy; &iukcy; &ocy;&pcy;&lcy;&acy;&tcy;&acy;
          li
            a.footer__link(href='/contacts') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&icy;
        form.footer__form(action='/')
          input(type='email', placeholder='Введіть ваш e-mail', required='')
          button.footer__button.btn(type='button') &Pcy;&iukcy;&dcy;&pcy;&icy;&scy;&acy;&tcy;&icy;&scy;&softcy;
      .footer__adress.adress-footer
        h3.adress-footer__title &Acy;&dcy;&rcy;&iecy;&scy;&acy;
        p.adress-footer__item.adress-footer__adress с. Бережани, вул. Шашкевича 24а
        p.adress-footer__item.adress-footer__email vikobanzayinfo@gmail.com
        p.adress-footer__item.adress-footer__phone +380 98 4491 158
script(src='js/cart.js')

