header.header
  .container-big
    .header__row
      a.header__logo(href='index.html')
        img(src='images/Logo.svg', alt='Logo')
      .header__burger
        span
      .header__right
        nav.header__menu
          ul.header__list
            li
              a.header__link(href='about-us.html') &Pcy;&rcy;&ocy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&iukcy;&yucy;
            li
              a.header__link.header__link-sub(href='products.html') &Pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&iukcy;&yacy;
              ul.submenu
                li.submenu__item
                  a.submenu__link(href='products.html') &Vcy;&scy;&iukcy; &tcy;&ocy;&vcy;&acy;&rcy;&icy;
                li.submenu__item
                  a.submenu__link(href='products.html')
                    | &Vcy;&acy;&gcy;&ocy;&vcy;&acy;
                    | &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&iukcy;&yacy;
                li.submenu__item
                  a.submenu__link(href='products.html')
                    | &Fcy;&acy;&scy;&ocy;&vcy;&acy;&ncy;&acy;
                    | &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&iukcy;&yacy;
            li
              a.header__link(href='delivery-and-payment.html') &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy; &iukcy; &ocy;&pcy;&lcy;&acy;&tcy;&acy;
            li
              a.header__link(href='contacts.html') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&icy;
        .header__contacts
          .search
            button.search__button.header__btn(type='button')
              img(src='images/search.png', alt='Пошук')
            input.search__input(type='text')
          button.header__basket-btn.header__btn(type='button')
            img(src='images/basket.png', alt='Корзина')
            span 1
          a.header__phone-btn.header__btn(href='tel:+380984491158')
            img(src='images/phone.png', alt='Телефон')
          span.phone-num +380 98 4491 158
