header.header
  .container-big
    .header__row
      a.header__logo(href="/")
        img(src="images/Logo.svg" alt="Logo")
      .header__burger
        span
      .header__right
        nav.header__menu
          ul.header__list
            li
              a.header__link(href="/about") Про компанію
            li
              a.header__link.header__link-sub(href="/products") Продукція
              ul.submenu
                li.submenu__item
                  a.submenu__link(href="/products") Всі товари
                li.submenu__item
                  a.submenu__link(href="/products")
                    | Вагова
                    | продукція
                li.submenu__item
                  a.submenu__link(href="/products")
                    | Фасована
                    | продукція
            li
              a.header__link(href="/delivery") Доставка і оплата
            li
              a.header__link(href="/contacts") Контакти
        .header__contacts
          .search
            button.search__button.header__btn(type="button")
              img(src="images/search.png" alt="Пошук")
            input.search__input(type="text")
          button.header__basket-btn.header__btn(type="button")
            img(src="images/basket.png" alt="Корзина")
          a.header__phone-btn.header__btn(href="tel:+380987770144")
            img(src="images/phone.png" alt="Телефон")
          span.phone-num +380 98 7770 144
