include components/head.pug

.wrapper
    include components/header.pug
    include contacts/contacts-main.pug
    include components/footer.pug   
    include product/product-modal.pug

script(src='js/appmin.js')
