include components/head.pug

.wrapper
    include components/header.pug
    include delivery/delivery-main.pug
    include product/product-modal.pug
    include components/footer.pug

script(src='js/app.js')
