include components/head.pug

.wrapper
    include components/header.pug
    include ordering/ordering-main.pug
    include components/footer.pug
    include ordering/ordering-pop.pug
    include product/product-modal.pug
script(src='js/ordering.js')
