include components/head.pug

.wrapper
    include components/header.pug
    include products/products-main.pug
    include components/footer.pug

    include product/product-modal.pug


script(src='js/nav.js')
script(src='js/appmin.js')
script(src='js/cart.js')
