include components/head.pug

.wrapper
    include components/header.pug
    include product/product-main.pug
    include product/product-modal.pug
    include components/footer.pug


script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
script(src='js/product.js')
script(src='js/appmin.js')
