main.main
  .image-slider.swiper-container
    .image-slider__content
      .image-slider__row
        span.image-slider-button-prev
        .image-slider__text
          p ТМ “Віко Банзай” входить на ринок з плеядою нових продуктів
          button.image-slider__button.btn(type="button") Детальніше
        span.image-slider-button-next
    .image-slider__wrapper.swiper-wrapper
      .image-slider__slide.swiper-slide
        .image-slider__image
          img(src="images/slider/1.jpg" alt="")
      .swiper-slide
        .image-slider__image
          img(src="images/slider/2.jpg" alt="")
      .swiper-slide
        .image-slider__image
          img(src="images/slider/3.jpg" alt="")
    .swiper-pagination
  section.our-product
    .container-small
      h2.our-product__title Наша продукція
      .our-product__text
        p
          | Наша продукція виготовлена за найкращими технологіями.
          | Ми використовуємо дуже якісну сировну для виготовлення продукції. 
      a.our-product__button.btn(type="button" href="/products") Всі товари
      ul.our-product__list
        li
          a.our-product__link(href="#")
            img(src="images/our-products/1.png" alt="product")
        li
          a.our-product__link(href="#")
            img(src="images/our-products/2.png" alt="product")
        li
          a.our-product__link(href="#")
            img(src="images/our-products/3.png" alt="product")
        li
          a.our-product__link(href="#")
            img(src="images/our-products/4.png" alt="product")
        li
          a.our-product__link(href="#")
            img(src="images/our-products/5.png" alt="product")
    img.our-product__bg-left(src="images/our-products/bg1.png")
    img.our-product__bg-right(src="images/our-products/bg2.png")
  section.about-us
    .container-small
      h2.about-us__title Про нас
      .about-us__body
        .about-us__content
          h3.about-us__subtitle Віко Банзай
          .about-us__text
            p
              | 
              | Товариство з обмеженою відповідальністю «Віко Банзай» - це підприємство з виробництва какао, шоколаду та цукрових кондитерських виробів, цукрової пудри, різних прянощів та приправ, кондитерськими виробами. 
              | ТзОВ "Віко Банзай" — підприємство харчової просимловості, засноване у 1995 році. Виробляє какао, шоколад, цукрові кондитерські вироби.
              //- | Sapien ullamcorper nullam aliquet convallis leo eu. Faucibus sollicitudin aenean orci mauris varius vitae nisl. Dignissim turpis ultrices malesuada sed blandit duis. Scelerisque pellentesque enim, tincidunt scelerisque integer nulla eu felis viverra.
          a.about-us__button.btn(type="button" href="/about") Детальніше
        .about-us__image
          img(src="images/about-us/1k.png" alt="picture")
      img.about-us-bg(src="images/about-us/bg1.png")
    img.about-us__bg2(src="images/about-us/bg2.png")
  section.news
    .container-small
      h2.news__title Новини
      .news__body
        .news__top
          .news__cart1.cart-news
            a.news__link(href="#")
              img.news__cart-bg(src="images/news/1.png" alt="food")
              .cart-news__content
                h3.cart-news__title ТМ «Віко Банзай»  
                 
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
          .news__cart2.cart-news
            a.news__link(href="#")
              img.news__cart-bg(src="images/news/2.png" alt="food")
              .cart-news__content
                h3.cart-news__title ТМ «Віко Банзай» виходить на ринок
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
          .news__cart3.cart-news
            a.news__link(href="#")
              img.news__cart-bg(src="images/news/3.png" alt="food")
              .cart-news__content
                h3.cart-news__title ТМ «Віко Банзай» виходить на ринок з новими товарами
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
        .news__bottom
          .news__cart4.cart-news
            a.news__link(href="#")
              img.news__cart-bg(src="images/news/4.png" alt="food")
              .cart-news__content
                h3.cart-news__title ТМ «Віко Банзай» виходить на ринок з плеядою нових товарів
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
          .news__cart5.cart-news
            a.news__link(href="#")
              img.news__cart-bg(src="images/news/5.png" alt="food")
              .cart-news__content
                h3.cart-news__title ТМ «Віко Банзай» виходить на ринок з плеядою нових товарів
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
      .news-slider.swiper-container
        .news-slider__wrapper.swiper-wrapper
          .news-slider__slide.swiper-slide
            .news-slider__cart
              .news__cart1.cart-news
                a.news__link(href="#")
                  img.news__cart-bg(src="images/news/1.png" alt="food")
                  .cart-news__content
                    h3.cart-news__title ТМ «Віко Банзай» виходить на ринок з плеядою нових товарів
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
          .swiper-slide
            .news-slider__cart
              .news__cart2.cart-news
                a.news__link(href="#")
                  img.news__cart-bg(src="images/news/2.png" alt="food")
                  .cart-news__content
                    h3.cart-news__title ТМ «Віко Банзай» виходить на ринок з плеядою нових товарів
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
          .swiper-slide
            .news-slider__cart
              .news__cart3.cart-news
                a.news__link(href="#")
                  img.news__cart-bg(src="images/news/3.png" alt="food")
                  .cart-news__content
                    h3.cart-news__title ТМ «Віко Банзай» виходить на ринок з плеядою нових товарів
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
          .swiper-slide
            .news-slider__cart
              .news__cart4.cart-news
                a.news__link(href="#")
                  img.news__cart-bg(src="images/news/4.png" alt="food")
                  .cart-news__content
                    h3.cart-news__title ТМ «Віко Банзай» виходить на ринок з плеядою нових товарів
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
          .swiper-slide
            .news-slider__cart
              .news__cart5.cart-news
                a.news__link(href="#")
                  img.news__cart-bg(src="images/news/5.png" alt="food")
                  .cart-news__content
                    h3.cart-news__title ТМ «Віко Банзай» виходить на ринок з плеядою нових товарів
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
      // <button class="news__button btn" type="button">Всі новини</button>
