main.main
  section.about--us
    .container-big
      .about--us__body
        h1.about--us__title Про нас
        .about--us__subtitle
          p
            | Товариство з обмеженою відповідальністю «Віко Банзай» - це підприємство з виробництва какао, шоколаду та цукрових кондитерських виробів, цукрової пудри, різних прянощів та приправ, кондитерськими виробами. 
          .row-about--us__img
            img(src="images/about-us/1k.png" alt="picture")
          .row-about--us__text
            p
              | ТзОВ "Віко Банзай" — підприємство харчової просимловості, засноване у 1995 році. Виробляє какао, шоколад, цукрові кондитерські вироби.
            p
              | 
        .about--us__text
          p
            | Продукція випускається під брендами «Віко Банзай». Продуктовий портфель компанії збалансований таким чином, щоб забезпечити потреби широкого кола споживачів в різних товарних категоріях харчового ринку.
    .about--us__bg
      img(src="images/about-us/2.jpg" alt="picture")
  .preferences
    .preferences__body
      .preferences__item
        p.preferences__num 53
        p.preferences__text Види товару
      .preferences__item
        p.preferences__num 250+
        p.preferences__text Задоволених клієнтів
      .preferences__item
        p.preferences__num 20
        p.preferences__text Років на ринку
