main.main
  section.about--us
    .container-big
      .about--us__body
        h1.about--us__title Про нас
        .about--us__subtitle
          p
            | Група компаній «Віко Банзай» об’єднує потужні підприємства з виробництва та реалізації основних видів молочної продукції, лідер молочної галузі України.
        .about--us__row.row-about--us
          .row-about--us__img
          .row-about--us__text
            p
              | Історія АТ «Молочний альянс» розпочалася у 2000 році з придбання низки виробничих підприємств, які в 2006 році було офіційно об’єднано в холдингову компанію з установчим капіталом близько 24 млн. грн. та балансом, що на 99,9% складається з довгострокових фінансових інвестицій.
            p
              | Продукція випускається під брендами «Яготинське», «Яготинське для дітей», «Хопси», «Златокрай» та «Молочний альянс». Продуктовий портфель компанії збалансований таким чином, щоб забезпечити потреби широкого кола споживачів в різних товарних категоріях молочного ринку і ринку сирів.
        .about--us__text
          p
            | Продукція випускається під брендами «Яготинське», «Яготинське для дітей», «Хопси», «Златокрай» та «Молочний альянс». Продуктовий портфель компанії збалансований таким чином, щоб забезпечити потреби широкого кола споживачів в різних товарних категоріях молочного ринку і ринку сирів.
          p
            | Продукція випускається під брендами «Яготинське», «Яготинське для дітей», «Хопси», «Златокрай» та «Молочний альянс». Продуктовий портфель компанії збалансований таким чином, щоб забезпечити потреби широкого кола споживачів в різних товарних категоріях молочного ринку і ринку сирів.
    .about--us__bg
  .preferences
    .preferences__body
      .preferences__item
        p.preferences__num 53
        p.preferences__text Види товару
      .preferences__item
        p.preferences__num 250+
        p.preferences__text Задоволених клієнтів
      .preferences__item
        p.preferences__num 20
        p.preferences__text Років на ринку
