main.main
  section.delivery
    .delivery__body
      h2.delivery__title Спосіб доставки
      h3.delivery__subtitle Самовивіз
      .delivery__item.item-delivery
        .item-delivery__img
          img(src="images/delivery&payment/car.svg" alt="car")
        .item-delivery__content
          p.delivery__text
            | Самовивіз товару з нашого підприємства «Віко Банзай»: Львівська область, село Бережани, вулиця Маркіяна Шашкевича 24а, детальніше за телефоном. 
            span.delivery__pseudolink "Контакти"
          p.delivery__text
            | Терміни доставки Самовивіз від 
            span.delivery__red 1-3 робочих днів
            | .
      h3.delivery__subtitle Нова Пошта
      .delivery__item.item-delivery
        .item-delivery__img.new-post
          img(src="images/delivery&payment/new-post.svg" alt="car")
        .item-delivery__content
          p.delivery__text
            | Доставка у найближче до Вас відділення Нової Пошти. Вартість доставки складає від 45 грн.
          p.delivery__text
            | Під час замовлення наші менеджери узгодять з Вами дату доставки перед відправленням товару. По передоплаті 30 %.
          p.delivery__text
            | Після відправки, на вказаний вами номер мобільного, прийде SMS з номером накладної.
          p.delivery__text
            | Доставка у відділення Нової Пошти в середньому займає 
            span.delivery__red 1-3 дні
            | .
      h3.delivery__subtitle Укр Пошта
      .delivery__item.item-delivery
        .item-delivery__img.ukr-post
          img(src="images/delivery&payment/ukr-post.svg" alt="car")
        .item-delivery__content
          p.delivery__text
            | Доставка по світу здійснюється Укрпоштою, вартість доставки розраховується на основі ваги товару згідно тарифів.
          p.delivery__text
            | Ви можете розрахувати вартість доставки самостійно, скориставшись калькулятором на сайті «Укрпошти».
          p.delivery__text
            | Всі замовлення за кордон України висилаються тільки при 100% передоплаті товарів.
          p.delivery__text
            | Терміни доставки Укрпоштою від 
            span.delivery__red 2-3 робочих дніd
            | .
      h2.delivery__title Спосіб оплати
      h3.delivery__subtitle Готівкою при отриманні
      .delivery__item.item-delivery
        .item-delivery__img.payment
          img(src="images/delivery&payment/money.svg" alt="car")
        .item-delivery__content
          p.delivery__text
            | Оплатити товар готівкою ви можете при його отриманні на підприємтсві за адресою: Львівська область, село Бережани, вулиця Маркіяна Шашкевича 24а
      h3.delivery__subtitle На картку PrivatBank
      .delivery__item.item-delivery
        .item-delivery__img.payment
          img(src="images/delivery&payment/bank.svg" alt="car")
        .item-delivery__content
          p.delivery__text
            | У вас є можливість зробити оплату на карту Приватбанку як за допомогою терміналів самообслуговування так і за допомогою онлайн сервісу Приват24.
          p.delivery__text
            | Для оплати на карту, при оформленні, виберіть «Банківський переказ» і перекажіть суму замовлення на реквізити, які будуть вказані на сторінці з інструкцією.
            | Діє передоплата 30% або 100% від вартості замовлення.
      h3.delivery__subtitle На картку Visa/Mastercard
      .delivery__item.item-delivery
        .item-delivery__img.payment
          img(src="images/delivery&payment/card.svg" alt="car")
        .item-delivery__content
          p.delivery__text
            | Ви можете оплатити замовлення банківською картою платіжних систем Visa/Mastercard.
          p.delivery__text
            | Для цього, під час оформлення замовлення на сайті, виберіть «Оплата картою Visa/MasterCard». Після цього Ви будете переадресовані на сторінку системи безпечних платежів банку, де Вам необхідно буде підтвердити оплату.
          p.delivery__text
            | Будь ласка, зверніть увагу, отримати товар, оплачений платіжною карткою, може тільки той клієнт, чиї ПІБ були вказані на сайті під час оформлення заявки, тому при отриманні замовлення обов'язково потрібно мати при собі паспорт.
            | Діє передоплата 30% або 100% від вартості замовлення.
