.products__row
  button.products__button.active.btn(type="button") Всі товари
  button.products__button.btn.kozinak(type="button") Козинаки
  button.products__button.btn.draze(type="button") Драже
  button.products__button.btn.snek(type="button") Снеки
  button.products__button.btn.bakalia(type="button") Бакалія
  button.products__button.btn.prikrasa(type="button") Прикраса кондитерська